<div style="border-radius: 10px;
            background: #87D37C;
            color: white;
            padding: 20px;
            margin: 10px;
            user-select: text;
            overflow-wrap: break-word;" class="animated fadeInDown" id="filesDropSuccess">
    Succesfully seeded file for sharing! Magnet link: <br>
    <span style="font-size: 85%; 
                 font-weight: bold;"><%= link %></span>
    <br>
    <a style="color: white;  
              font-weight: bold;
              font-size: 85%;
              background: #bbe6b5; 
              padding: 5px; 
              margin-top: 15px;
              margin-right: 10px" 
       id="copyLink">
        Click to Copy Link</a>
    
    <a style="color: white;  
              font-weight: bold;
              font-size: 85%;
              background: #e0a2aa; 
              padding: 5px; 
              margin-top: 15px;
              margin-right: 10px" 
       id="close">
        Close Alert</a>
</div>